<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STUDENT INFO</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"   href="{% static 'css/base.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg avbar-dark bg-dark" >
        <a class="navbar-brand" href="/">CRUDAPP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            {% comment %} <li class="nav-item active">
              <a class="nav-link" href="/listview">BOOK INFO</a>
            </li>
             {% endcomment %}
          </ul>
           
          <ul class="navbar-nav ml-auto">
            {% if request.user.is_authenticated %}
            <li class="nav-item active">
              <a class="nav-link" href="/accounts/logout">LOGOUT</a>
            </li>
            {% else %}
            <li class="nav-item active">
              <a class="nav-link" href="/accounts/login">LOGIN</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/signup">SIGNUP</a>
            </li>
           {% endif %}
          </ul>
           
        </div>
      </nav>
      {% block body_block %}
      {% endblock %}
    
</body>
</html>